[program:{{ application.name }}]
command       = {{ application.commands.start }}
user          = {{ deploy.username }}
process_name  = %(program_name)s
stderr_syslog = true
stdout_syslog = true
directory     = {{ app_dir }}/{{ application.name }}/current
autostart     = false
autorestart   = true
startsecs     = 10
startretries  = 3
environment   = PRODUCTION="true"
